@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.header {
    background-color: #696969;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: "IBM Plex Sans", sans-serif;
}

.header h1 {
    -webkit-text-stroke: 1px black; /* Adds a black outline of 1px to the text */
  }